*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  color:rgb(39, 30, 30);

}
/* .recipt-body{
  width:100vw;
  height:max-content;
  min-height:100vh;
  display:grid;
  place-items: center;
}
.recipt-body form{
  height:100%;
  width:80%;
  max-width:440px;
  display:inline-flex;
  position: relative; */
  
  /* justify-content:center; */ 
  

/* } */

/* .recipt-body table {
  max-width:200px;
  display: table;
  
}

.recipt-body tr{
  width:100%;
  max-width: 400px;
} */

table, tr, th, thead{

}